/* Styling for Global Packaging Center */
/* Global Packaging Mixins */
@font-face {
  font-family: "icon-font-5";
  src: url("../fonts/icon-font-5.eot");
  src: url("../fonts/icon-font-5.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-font-5.woff") format("woff"), url("../fonts/icon-font-5.ttf") format("truetype"), url("../fonts/icon-font-5.svg#icon-font-5") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-family: helvetica, arial, sans-serif; }

body {
  background-color: #668EA2;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, top, bottom, from(#0C2A4D), to(#668EA2));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0C2A4D, #668EA2);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0C2A4D, #668EA2);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #0C2A4D, #668EA2);
  /* IE10 */
  background-image: -o-linear-gradient(top, #0C2A4D, #668EA2);
  /* Opera 11.10+ */
  background-repeat: no-repeat;
  background-image: linear-gradient(top, #0C2A4D, #668EA2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0C2A4D', EndColorStr='#668EA2'); }

header {
  background-color: #0C2A4D;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#0C2A4D));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(left, #000000, #0C2A4D);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, #000000, #0C2A4D);
  /* FF3.6 */
  background-image: -ms-linear-gradient(left, #000000, #0C2A4D);
  /* IE10 */
  background-image: -o-linear-gradient(left, #000000, #0C2A4D);
  /* Opera 11.10+ */
  background-image: linear-gradient(left, #000000, #0C2A4D);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#0C2A4D');
  height: 60px;
  width: 100%;
  margin-bottom: 30px; }

p {
  color: #ffffff;
  font-size: 14px; }

@media (min-width: 1024px) {
  .padding-left-0 {
    padding-left: 0px !important; } }

@media (min-width: 1024px) {
  .padding-right-0 {
    padding-right: 0px !important; } }

.margin-top-neg-30 {
  margin-top: -30px; }

.margin-top-40 {
  margin-top: 40px; }

.userNameDiv {
  color: #f1f1f1;
  float: right;
  line-height: 56px; }

.userIcon {
  font-family: icon-font-5;
  vertical-align: middle;
  font-size: 15px; }

.userName {
  vertical-align: middle;
  margin: 0 5px 0 7px;
  font-size: 14px; }

.userArrow {
  font-family: icon-font-5;
  vertical-align: middle;
  font-size: 9px;
  cursor: pointer; }

.companyLogo {
  line-height: 50px;
  padding-left: 0px; }
  .companyLogo img {
    width: 40%;
    margin-top: 5px;
    cursor: pointer; }
    @media (max-width: 640px) {
      .companyLogo img {
        width: 90%;
        margin-top: 10px; } }

.successLogo {
  text-align: center; }
  .successLogo img {
    width: 28%;
    margin-top: 5px; }

.dashboardTitle {
  color: #ffffff; }

.dashTitle {
  vertical-align: middle;
  margin-left: 10px;
  letter-spacing: 0.5px; }

#dashboard #dashboardTable {
  margin-bottom: 0;
  min-width: 300px; }
  #dashboard #dashboardTable tr {
    color: #ffffff; }
    #dashboard #dashboardTable tr td {
      color: inherit; }
  #dashboard #dashboardTable th {
    display: none; }
  @media (max-width: 640px) {
    #dashboard #dashboardTable td.tableIcon {
      display: inline-block;
      vertical-align: middle;
      width: 20%; } }
  #dashboard #dashboardTable td.tableIcon:before {
    content: ''; }
  #dashboard #dashboardTable td {
    display: block; }
    #dashboard #dashboardTable td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 640px) {
        #dashboard #dashboardTable td:before {
          display: none; } }
  #dashboard #dashboardTable th, #dashboard #dashboardTable td {
    text-align: left; }
    @media (min-width: 640px) {
      #dashboard #dashboardTable th, #dashboard #dashboardTable td {
        display: table-cell; } }
#dashboard .table-pagination {
  background: #0d0d0d;
  color: #ffffff;
  padding: 5px 10px;
  position: relative;
  height: 30px; }
  #dashboard .table-pagination .pagination-buttons {
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: lighter; }
    #dashboard .table-pagination .pagination-buttons .pagination-next,
    #dashboard .table-pagination .pagination-buttons .pagination-prev {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
      #dashboard .table-pagination .pagination-buttons .pagination-next:hover,
      #dashboard .table-pagination .pagination-buttons .pagination-prev:hover {
        opacity: 0.7; }
    #dashboard .table-pagination .pagination-buttons .pagination-pages {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px 0 5px;
      cursor: pointer; }
      #dashboard .table-pagination .pagination-buttons .pagination-pages:hover {
        opacity: 0.7; }
    #dashboard .table-pagination .pagination-buttons .active {
      color: #00738E; }
  #dashboard .table-pagination .pagination-dots {
    margin: 0 !important; }
  #dashboard .table-pagination .pagination-showing {
    float: right;
    clear: both;
    margin-top: -18px;
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: lighter; }
    #dashboard .table-pagination .pagination-showing .pagination-showing-block {
      display: inline-block;
      vertical-align: middle; }
#dashboard .dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  z-index: 10; }
  #dashboard .dropdown:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    top: -10px;
    right: 0; }
  #dashboard .dropdown #logout, #dashboard .dropdown #addUserBtn {
    cursor: pointer; }
    #dashboard .dropdown #logout:hover, #dashboard .dropdown #addUserBtn:hover {
      color: #dddddd; }
  #dashboard .dropdown #addUserBtn {
    margin-bottom: 10px; }
  #dashboard .dropdown .icon, #dashboard .dropdown .text {
    display: inline-block;
    vertical-align: middle; }
  #dashboard .dropdown .icon {
    font-family: icon-font-5;
    margin-right: 10px; }
#dashboard .tableIcon {
  font-family: icon-font-5;
  font-size: 20px;
  padding: 17px;
  color: rgba(0, 189, 255, 0.5);
  cursor: pointer;
  padding-left: 25px; }
  #dashboard .tableIcon:hover {
    color: rgba(0, 189, 255, 0.2); }
#dashboard .disabled {
  color: rgba(0, 189, 255, 0.1) !important;
  cursor: default; }
  #dashboard .disabled:hover {
    color: rgba(0, 189, 255, 0.1) !important; }
#dashboard .issue {
  position: relative; }
#dashboard .reply-unread:after {
  content: '!';
  position: absolute;
  background: #8C001A;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  padding-right: 1px;
  line-height: 16px;
  top: 12px;
  right: 12px; }
#dashboard .reply-onhold:after {
  content: '!';
  position: absolute;
  background: #ff9900;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  padding-right: 1px;
  line-height: 16px;
  top: 12px;
  right: 12px; }
#dashboard .graph {
  width: 100%;
  height: auto;
  background: #000000;
  padding: 20px 20px 20px 10px; }
@media (max-width: 1024px) {
  #dashboard #lineGraph {
    margin-bottom: 30px; } }
#dashboard .dashboardBtn {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  height: 192.5px;
  cursor: pointer;
  margin-bottom: 15px; }
  #dashboard .dashboardBtn:hover {
    color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 640px) {
    #dashboard .dashboardBtn {
      margin-bottom: 20px; } }
#dashboard .btnHeader {
  background: #000;
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px; }
#dashboard .btnIcon {
  font-family: icon-font-5;
  font-size: 55px;
  margin-top: 30px; }
#dashboard .smallerBtn {
  font-size: 65px;
  margin-top: 16px; }

.roles-column-one {
  padding-left: 50px; }
  @media (max-width: 640px) {
    .roles-column-one {
      padding-left: 0; } }

.roles-column-two {
  margin-top: 38px; }
  @media (max-width: 640px) {
    .roles-column-two {
      margin-top: 0;
      padding-left: 0; } }

.warning-color {
  color: #bf8d31 !important; }

.expired-color {
  color: #bf3131 !important; }

.formContainer {
  background: #000; }
  .formContainer .formHeader {
    background: #00738E;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 0.5px; }
  .formContainer .pageContainer {
    padding: 40px;
    overflow: auto; }
    @media (max-width: 640px) {
      .formContainer .pageContainer {
        padding: 15px; } }
    .formContainer .pageContainer .large-6 {
      padding-left: 2.9375rem !important;
      padding-right: 3.9375rem !important; }
      @media (max-width: 640px) {
        .formContainer .pageContainer .large-6 {
          padding-left: 0 !important;
          padding-right: 0 !important; } }
    .formContainer .pageContainer input {
      background-color: #ddd;
      border: none; }
    .formContainer .pageContainer select {
      background-color: #ddd;
      border: none; }
    .formContainer .pageContainer textarea {
      background-color: #ddd;
      border: none;
      height: 137px; }
  .formContainer .formElement {
    padding: 10px 0; }
    .formContainer .formElement .statusLabel {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
    .formContainer .formElement .statusResult {
      display: inline-block;
      vertical-align: middle; }
  .formContainer .btnContainer, .formContainer .settingsBtnContainer {
    clear: both;
    padding: 50px 62px 20px 47px; }
    @media (max-width: 640px) {
      .formContainer .btnContainer, .formContainer .settingsBtnContainer {
        padding: 30px 15px 20px 15px; } }
    .formContainer .btnContainer button, .formContainer .settingsBtnContainer button {
      background: #00738E;
      padding: 10px 20px;
      width: auto; }
      .formContainer .btnContainer button:hover, .formContainer .settingsBtnContainer button:hover {
        opacity: 0.8; }
    .formContainer .btnContainer button.submit, .formContainer .settingsBtnContainer button.submit {
      float: right; }
  .formContainer #loadDiscovery, .formContainer #loadBottomSnippet, .formContainer #manageRoles {
    clear: both; }
  .formContainer .divider {
    width: 92%;
    height: 1px;
    background-color: #444;
    margin: 40px auto; }
  .formContainer .uploadBtn {
    background: none !important;
    color: #fff; }
  .formContainer .checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px; }
  .formContainer p.checkboxText {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    margin-left: 10px;
    font-size: 14px; }
  .formContainer .rolesTitle {
    font-size: 18px;
    margin-bottom: 10px; }

.packageName {
  cursor: pointer; }
  .packageName:hover {
    color: #ccc; }

.modal {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center; }
  .modal .dialogContainer {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 100%; }
    .modal .dialogContainer .dialogBox {
      background: #fff;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 15px 20px;
      height: auto;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -105px;
      color: #505050; }
      .modal .dialogContainer .dialogBox .dialogText {
        width: 79%;
        margin: 0 auto; }
      .modal .dialogContainer .dialogBox .errorMsg {
        display: none; }
      .modal .dialogContainer .dialogBox #passwordInput {
        margin-top: 20px;
        box-shadow: none !important; }
      .modal .dialogContainer .dialogBox button {
        background: #00738E;
        padding: 10px 20px;
        width: auto;
        margin-top: 30px; }

#changePasswordModal .dialogBox p.errorMsg {
  color: #8C001A; }
#changePasswordModal .dialogBox button#changesPasswordBtn {
  margin-top: 0; }

.loginBackground {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover; }

.loginContainer {
  position: relative;
  width: 100%;
  height: 100%; }
  .loginContainer .row-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .loginContainer .loginBox {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 20px 25px;
    height: auto;
    width: 100%; }
  .loginContainer .logoColumn {
    padding-left: 0px;
    padding-right: 0px;
    height: 252px;
    text-align: center; }
    .loginContainer .logoColumn .logoImg {
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .loginContainer .logoColumn .logoImg img {
        max-width: 215px; }
  .loginContainer #forgotPasswordModal .dialogBox,
  .loginContainer #invalidLoginModal .dialogBox,
  .loginContainer #emailSentModal .dialogBox {
    padding-top: 40px; }
  .loginContainer #forgotPasswordModal .dialogHeading,
  .loginContainer #invalidLoginModal .dialogHeading,
  .loginContainer #emailSentModal .dialogHeading {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #00738E;
    margin-bottom: 20px; }
  .loginContainer #forgotPasswordModal .email,
  .loginContainer #invalidLoginModal .email,
  .loginContainer #emailSentModal .email {
    font-family: helvetica, sans-serif;
    margin-top: 40px; }
  .loginContainer #forgotPasswordModal .forgotPasswordCancelBtn,
  .loginContainer #invalidLoginModal .forgotPasswordCancelBtn,
  .loginContainer #emailSentModal .forgotPasswordCancelBtn {
    text-decoration: underline;
    color: #00738E;
    font-size: 12px;
    cursor: pointer; }
  .loginContainer .loginColumn {
    text-align: center; }
    .loginContainer .loginColumn input {
      background-color: #f1f1f1;
      border: none;
      box-shadow: none;
      padding: 23px 50px;
      font-family: helvetica, sans-serif; }
    .loginContainer .loginColumn .username {
      margin-top: 40px; }
    .loginContainer .loginColumn .userIcon {
      position: relative; }
      .loginContainer .loginColumn .userIcon:before {
        content: 'Y';
        font-family: icon-font-5;
        position: absolute;
        font-size: 27px;
        color: #ccc;
        left: 10px;
        font-weight: normal;
        z-index: 2;
        top: 3px; }
    .loginContainer .loginColumn .passIcon {
      position: relative; }
      .loginContainer .loginColumn .passIcon:before {
        content: '6';
        font-family: icon-font-5;
        position: absolute;
        font-size: 27px;
        color: #ccc;
        left: 10px;
        font-weight: normal;
        top: 3px;
        z-index: 2; }
    .loginContainer .loginColumn .forgotPassword {
      font-size: 12px;
      color: #00738E;
      cursor: pointer; }
      .loginContainer .loginColumn .forgotPassword:hover {
        color: #004a5b; }
    .loginContainer .loginColumn button {
      background: #00738E;
      padding: 10px 20px;
      width: auto;
      margin-top: 30px; }
      .loginContainer .loginColumn button:hover {
        opacity: 0.8; }

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.uil-ring-css {
  background: none;
  position: relative;
  width: 100%;
  height: 100%; }

.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 95px;
  height: 95px;
  top: 50%;
  left: 47%;
  transform: translate(50%, 50%);
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #ffffff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite; }

#loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center; }
  #loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95px; }

#assignList {
  background-color: #ccc;
  position: relative;
  -webkit-transition: all 300ms ease-out 300ms;
  -moz-transition: all 300ms ease-out 300ms;
  -o-transition: all 300ms ease-out 300ms;
  transition: all 300ms ease-out 300ms; }
  #assignList ul {
    list-style: none;
    margin: 0;
    color: #ffffff; }
    #assignList ul li {
      padding: 10px;
      cursor: pointer;
      font-size: 14px; }
      #assignList ul li:nth-child(even) {
        background: rgba(0, 0, 0, 0.8); }
      #assignList ul li:nth-child(odd) {
        background: rgba(0, 0, 0, 0.5); }
      #assignList ul li:hover {
        opacity: 0.8; }
  #assignList:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #666;
    top: -10px;
    right: 0; }

.list {
  overflow-y: scroll;
  height: auto;
  max-height: 300px; }

#assignedToText {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px; }

.updateBtn {
  display: none;
  background: #00738E;
  padding: 10px 20px;
  float: right; }

.issueDetails {
  color: #ffffff;
  font-size: 14px; }
  .issueDetails .bold {
    font-weight: 600; }
  .issueDetails .issueDate {
    font-size: 12px;
    color: #cccccc; }

::-webkit-input-placeholder {
  color: #ccc;
  margin-left: 40px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
  margin-left: 40px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
  margin-left: 40px; }

:-ms-input-placeholder {
  color: #ccc;
  margin-left: 40px; }

/*# sourceMappingURL=style.css.map */
