/* Styling for Global Packaging Center */

@import "mixins.scss";

@font-face {
  font-family: "icon-font-5";
  src:url("../fonts/icon-font-5.eot");
  src:url("../fonts/icon-font-5.eot?#iefix") format("embedded-opentype"),
      url("../fonts/icon-font-5.woff") format("woff"),
      url("../fonts/icon-font-5.ttf") format("truetype"),
      url("../fonts/icon-font-5.svg#icon-font-5") format("svg");
  font-weight: normal;
  font-style: normal;

}

$small-breakpoint: 640px;

html, body {
	font-family: helvetica, arial, sans-serif;
}

body {
	@include body-gradient(#0C2A4D, #668EA2);
}

header {
	@include header-gradient(#000000, #0C2A4D);
	height: 60px;
	width: 100%;
	margin-bottom: 30px;
}

p {
	color: #ffffff;
	font-size: 14px;
}

.padding-left-0 {
	padding-left: 0px !important;
}

.padding-right-0 {
	padding-right: 0px !important;
}

.margin-top-neg-30 {
	margin-top: -30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.userNameDiv {
	color: #f1f1f1;
	float: right;
	line-height: 56px;
}

.userIcon {
	font-family: icon-font-5;
	vertical-align: middle;
	font-size: 15px;
}

.userName {
	vertical-align: middle;
	margin: 0 5px 0 7px;
	font-size: 14px;
}

.userArrow {
	font-family: icon-font-5;
	vertical-align: middle;
	font-size: 9px;
	cursor: pointer;
}

.companyLogo {
	line-height: 50px;
	padding-left: 0px;
	img {
		width: 40%;
		margin-top: 5px;
		cursor: pointer;

		@media (max-width: $small-breakpoint) {
			width: 90%;
			margin-top: 10px;
		}
	}
}

.successLogo {
	text-align: center;

	img {
		width: 28%;
		margin-top: 5px;
	}
}

.dashboardTitle {
	color: #ffffff;
}

.dashTitle {
	vertical-align: middle;
	margin-left: 10px;
	letter-spacing: 0.5px;
}

#dashboard {

	#dashboardTable {
		margin-bottom: 0;
		min-width: 300px;

		tr {
			color: #ffffff;

			td {
				color: inherit;
			}
		}

		th {
			display: none;
		}

		td.tableIcon {
			

			@media (max-width: $small-breakpoint) {
				display: inline-block;
				vertical-align: middle;
				width: 20%;
			}

			&:before {
				content: '';
			}
		}

		td {
			display: block;

			&:before {
				content: attr(data-th)": ";
				font-weight: bold;
				width: 6.5em;
				display: inline-block;

				@media (min-width: $small-breakpoint) {
					display: none;
				}
			}
		}

		th, td {
	    text-align: left;
	    
		    @media (min-width: $small-breakpoint) {
			      display: table-cell;
		    }

	  }
	}

	.table-pagination {
		background: lighten(#000000, 5%);
		color: #ffffff;
		padding: 5px 10px;
		position: relative;
		height: 30px;

		.pagination-buttons {
			font-size: 12px;
			letter-spacing: 0.8px;
			font-weight: lighter;

			.pagination-next,
			.pagination-prev {
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;

				&:hover {
					opacity: 0.7;
				}
			}

			.pagination-pages {
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px 0 5px;
				cursor: pointer;

				&:hover {
					opacity: 0.7;
				}
			}

			.active {
				color: #00738E;
			}
		}

		.pagination-dots {
			margin: 0 !important;
		}

		.pagination-showing {
			float: right;
			clear: both;
			margin-top: -18px;
			font-size: 12px;
			letter-spacing: 0.8px;
			font-weight: lighter;

			.pagination-showing-block {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.dropdown {
		display: none;
		position: absolute;
		top: 50px;
		right: 0;
		background-color: #000000;
		color: #ffffff;
		padding: 10px 20px;
		font-size: 14px;

		&:before {
			content: '';
			width: 5px; 
			height: 5px; 
			position: absolute;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid black;
			top: -10px;
			right: 0;
		}

		#logout, #addUserBtn {
			cursor: pointer;

			&:hover {
				color: #dddddd;
			}
		}

		#addUserBtn {
			margin-bottom: 10px;
		}

		.icon, .text {
			display: inline-block;
			vertical-align: middle;
		}

		.icon {
			font-family: icon-font-5;
			margin-right: 10px;
		}
	}

	.tableIcon {
		font-family: icon-font-5;
		font-size: 20px;
		padding: 17px;
		color: rgba(0,189,255, 0.5);
		cursor: pointer;
		padding-left: 25px;

		&:hover {
			color: rgba(0,189,255, 0.2);
		}
	}

	.disabled {
		color: rgba(0,189,255,0.1) !important;
		cursor: default;

		&:hover {
			color: rgba(0,189,255,0.1) !important;
		}
	}

	.issue {
		position: relative;
	}

	.reply-unread {
		&:after {
			content: '!';
			position: absolute;
			background: #8C001A;
			color: white;
			width: 15px;
			height: 15px;
			border-radius: 30px;
			font-family: sans-serif;
			font-size: 13px;
			text-align: center;
			padding-right: 1px;
			line-height: 16px;
			top: 12px;
			right: 12px;
		}
	}

	.reply-onhold {
		&:after {
			content: '!';
			position: absolute;
			background: #ff9900;
			color: white;
			width: 15px;
			height: 15px;
			border-radius: 30px;
			font-family: sans-serif;
			font-size: 13px;
			text-align: center;
			padding-right: 1px;
			line-height: 16px;
			top: 12px;
			right: 12px;
		}
	}

	.graph {
		width: 100%;
		height: 400px;
		background: #000;
	}

	#pieGraph {
		margin-top: -15px;
	}

	.dashboardBtn {
		background: rgba(0,0,0,0.8);
		color: #fff;
		text-align: center;
		height: 192.5px;
		cursor: pointer;
		margin-bottom: 15px;

		&:hover {
			color: rgba(255,255,255,0.8);
		}

		@media (max-width: $small-breakpoint) {
			margin-bottom: 20px;
		}
	}

	.btnHeader {
		background: #000;
		padding: 5px;
		text-transform: uppercase;
		font-size: 14px;
	}

	.btnIcon {
		font-family: icon-font-5;
		font-size: 55px;
		margin-top: 30px;
	}

	.smallerBtn {
		font-size: 65px;
		margin-top: 16px;
	}
}

.roles-column-one {
	padding-left: 50px;

	@media (max-width: $small-breakpoint) {
		padding-left: 0;
	}
}

.roles-column-two {
	margin-top: 38px;

	@media (max-width: $small-breakpoint) {
		margin-top: 0;
		padding-left: 0;
	}
}

.warning-color {
	color: #bf8d31 !important;
}

.expired-color {
	color: #bf3131 !important;
}

.formContainer {
	background: #000;

	.formHeader {
		background: #00738E;
		padding: 10px 20px;
		color: #fff;
		letter-spacing: 0.5px;
	}

	.pageContainer {
		padding: 40px;
		overflow: auto;

		@media (max-width: $small-breakpoint) {
			padding: 15px;
		}

		.large-6 {
			padding-left: 2.9375rem !important;
			padding-right: 3.9375rem !important;

			@media (max-width: $small-breakpoint) {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}

		input {
			background-color: #ddd;
			border: none;
		}

		select {
			background-color: #ddd;
			border: none;
		}

		textarea {
			background-color: #ddd;
			border: none;
			height: 137px;
		}
	}

	.formElement {
		padding: 10px 0;

		.statusLabel {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}

		.statusResult {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.btnContainer, .settingsBtnContainer {
		clear: both;
		padding: 50px 62px 20px 47px;

		@media (max-width: $small-breakpoint) {
			padding: 30px 15px 20px 15px;
		}

		button {
			background: #00738E;
			padding: 10px 20px;
			width: auto;

			&:hover {
				opacity: 0.8;
			}
		}

		button.submit {
			float: right;
		}
	}

	#loadDiscovery, #loadBottomSnippet, #manageRoles {
		clear: both;
	}

	.divider {
		width: 92%;
		height: 1px;
		background-color: #444;
		margin: 40px auto;
	}

	.uploadBtn {
		background: none !important;
		color: #fff;
	}

	.checkbox {
		display: inline-block;
		vertical-align: middle;
		margin-top: -3px;
	}

	p.checkboxText {
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		margin-left: 10px;
		font-size: 14px;
	}

	.rolesTitle {
		font-size: 18px;
		margin-bottom: 10px;
	}
}

.packageName {
	cursor: pointer;

	&:hover {
		color: #ccc;
	}
}

.modal {
	display: none;
	width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;

    .dialogContainer {
    	position: relative;
		margin: 0 auto;
		width: 400px;
		height: 100%;

		.dialogBox {
			background: #fff;
			border-radius: 4px;
			box-sizing: border-box;
			padding: 15px 20px;
			height: auto;
			width: 100%;
			position: absolute;
			top: 50%;
			margin-top: -105px;
			color: #505050;

			.dialogText {
				width: 79%;
				margin: 0 auto;
			}

			.errorMsg {
				display: none;
			}

			#passwordInput {
				margin-top: 20px;
				box-shadow: none !important;
			}

			button {
				background: #00738E;
				padding: 10px 20px;
				width: auto;
				margin-top: 30px;
			}
		}
	}
}

#changePasswordModal {

	.dialogBox {

		p.errorMsg {
			color: #8C001A;
		}

		button#changesPasswordBtn {
			margin-top: 0;
		}
	}
}

.loginBackground {
	background: url('../img/background.jpg') no-repeat;
	background-size: cover;
}

.loginContainer {
    position: relative;
    width: 100%;
    height: 100%;

    .row-center {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    }

    .loginBox {
    	background: rgba(255,255,255,0.5);
    	border-radius: 4px;
    	padding: 20px 25px;
    	height: auto;
    	width: 100%;
    }

    .logoColumn {
    	padding-left: 0px;
    	padding-right: 0px;
    	height: 252px;
    	text-align: center;

    	.logoImg {
    		height: auto;
    		position: relative;
    		top: 50%;
    		transform: translateY(-50%);

    		img {
    			max-width: 215px;
    		}
    	}
    }

    .loginColumn {
    	text-align: center;

    	input {
    		background-color: #f1f1f1;
			border: none;
			box-shadow: none;
			padding: 23px 50px;
			font-family: helvetica, sans-serif;
    	}

    	.username {
    		margin-top: 40px;
    	}

    	.userIcon {
    		position: relative;

    		&:before {
    			content: 'Y';
			    font-family: icon-font-5;
			    position: absolute;
			    font-size: 27px;
			    color: #ccc;
			    left: 10px;
			    font-weight: normal;
			    z-index: 2;
			    top: 3px;
    		}
    	}

    	.passIcon {
    		position: relative;

    		&:before {
    			content: '6';
			    font-family: icon-font-5;
			    position: absolute;
			    font-size: 27px;
			    color: #ccc;
			    left: 10px;
			    font-weight: normal;
			    top: 3px;
			    z-index: 2;
    		}
    	}

    	button {
			background: #00738E;
			padding: 10px 20px;
			width: auto;
			margin-top: 30px;

			&:hover {
				opacity: 0.8;
			}
		}
    }
}

#loader {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	text-align: center;

	img {
		position: absolute;
		top: 40%;
		margin-left: -30px;
	}
}

#assignList {
	background-color: #ccc;
	position: relative;
	-webkit-transition: all 300ms ease-out 300ms;
    -moz-transition: all 300ms ease-out 300ms;
    -o-transition: all 300ms ease-out 300ms;
    transition: all 300ms ease-out 300ms;

    ul {
    	list-style: none;
    	margin: 0;
    	color: #ffffff;

    	li {
    		padding: 10px;
    		cursor: pointer;
    		font-size: 14px;

    		&:nth-child(even) {
    			background: rgba(0,0,0,0.8);
    		}

    		&:nth-child(odd) {
    			background: rgba(0,0,0,0.5);
    		}

    		&:hover {
	    		opacity: 0.8;
	    	}
    	}
    }

	&:before {
		content: '';
	    width: 5px;
	    height: 5px;
	    position: absolute;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #666;
	    top: -10px;
	    right: 0;
	}
}

.list {
	overflow-y: scroll;
	height: auto;
	max-height: 300px;
}

#assignedToText {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	margin-top: 10px;
}

.updateBtn {
	display: none;
	background: #00738E;
	padding: 10px 20px;
	float: right;
}

.issueDetails {
	color: #ffffff;
	font-size: 14px;

	.bold {
		font-weight: 600;
	}

	.issueDate {
		font-size: 12px;
		color: #cccccc;
	}
}

::-webkit-input-placeholder {
   color: #ccc;
   margin-left: 40px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
   margin-left: 40px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
   margin-left: 40px;
}

:-ms-input-placeholder {  
   color: #ccc;  
   margin-left: 40px;
}







